/* Connection Info */
.connection-info {
  margin-top: var(--grid-6);
  padding-top: var(--grid-4);
  border-top: 1px solid var(--gray-10);
  display: none;
}

.connection-info.show {
  display: block;
}

.connection-details {
  background: var(--gray-05);
  padding: var(--grid-3);
  margin-bottom: var(--grid-3);
}

.connection-details p {
  font-size: var(--text-sm);
  line-height: var(--leading-relaxed);
  margin-bottom: var(--grid-2);
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: var(--grid-2);
  word-break: break-all;
}

.connection-details p:last-child {
  margin-bottom: 0;
}

.connection-details strong {
  font-weight: 500;
  color: var(--gray-70);
}

.connection-details.loading::after {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}
